NAME=DEVELOPMENT
PORT=3000
SERVER_HOST=127.0.0.1
RABBIT_HOST=127.0.0.1
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
ROOM_COUNT=20
PUBLISH_WORKERS=20
DB_HOST=chatflow-db.c9h8l7j5g1s.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_USER=chatflow
DB_PASSWORD=chatflow-pwd
DB_NAME=chatflow
CONSUMER_WORKERS=50
DB_WORKERS=20
STATS_WORKERS=20
BATCH_SIZE=100
FLUSH_INTERVAL=1000
CONSUMER_HOST=52.39.242.130
METRICS_PORT=8080